body {
    font-family: Arial, sans-self;
    text-align:center:
    background: #f2f2f2;
}

h1 {
    margin-top: 20px;
    Color: #333;
}

#board {
    width: 400px;
    margin: 30px auto;
    border:4px solid #222;
}